.header-table{
    width: 100%;
}

td.header-title{
    font-size: xx-large;
    vertical-align: bottom;
}

td.header-link{
    text-align: right;
    vertical-align: bottom;
}

.serch-result{
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
}

.serch-result-table{
    border-collapse: collapse;
}

.serch-result-table th{
    padding: 5px 10px;
    background-color: #C3C3C3;
}

.serch-result-table td{
    padding: 5px 10px;
}

.detail-result{
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.detail-result-table{
    border-collapse: collapse;
}

.detail-result-table th{
    width: 200px;
    padding: 5px 10px;
    background-color: #C3C3C3;
}

.detail-result-table td{
    width: 500px;
    padding: 5px 10px;
}
